.nav-header{
    background-color: black;
    color: white;
}

.nav-item:hover{
    color: rgb(143, 140, 140);
}

.navbar-brand:hover{
    color: rgb(143, 140, 140);
}

.cantidadItems{
    opacity: 70%;
}